body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.profile-header p {
  color: #777;
}

.profile-info {
  margin-top: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.info-item label {
  font-weight: bold;
}

.info-item a {
  text-decoration: none;
  color: #007bff;
}

.button {
  padding: 10px;
  background-color: #00b38e; /* Corrected button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #00b38e; /* Darker shade on hover */
}

.logout-btn {
  margin-top: 20px;
}

.logout {
  padding: 12px;
  background-color: #00b38e; /* Darker shade on hover */
  
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.logout:hover {
  background-color: #00b38e; /* Darker shade on hover */

}
